.moveButton:hover,
.moveButton:focus {
    background: #F3CB54;
}

.moveButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.moveButton:active {
    transform: scale(0.99);
}
